#block-youtubeplaylist{width: 100%;}

.video-error{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f5f5f5;
}
.video-error span{
    color: #000;
    font-size: 26px;
    line-height: 29px;
    margin: 1rem 0;
}

.youtube-playlist-block{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 30px;
}
.youtube-playlist-block .main-video-block{
    max-width: 1040px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.youtube-playlist-block .main-video-block .videoWrapper .video{
    min-width: 720px;
}
.youtube-playlist-block .video-info{
    width: 220px;
    min-height: 405px;
    height: 405px;
    max-height: 405px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 50px 5px 0 10px;
    background-color: #ebf1f4;
}
.youtube-playlist-block .video-info .video-date{
    color: #000;
    font-size: 14px;
    margin-bottom: 30px;
}
.youtube-playlist-block .video-info .video-title{
    color: #000;
    font-size: 26px;
    line-height: 29px;
}
.youtube-playlist-block .playlist{
    min-width: 350px;
    width: 350px;
    max-width: 350px;
    min-height: 405px;
    height: 405px;
    max-height: 405px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
}
.youtube-playlist-block .playlist .playlist-item{
    min-width: 335px;
    width: 335px;
    max-width: 335px;
    min-height: 125px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;
    margin-bottom: 10px;
}
.youtube-playlist-block .playlist .playlist-item:first-child{
    margin-top: 5px;
}
.youtube-playlist-block .playlist .playlist-item:last-child{
    margin-bottom: 0;
}
.youtube-playlist-block .playlist .playlist-item .playlist-item__video-info{
    min-width: 215px;
    width: 215px;
    max-width: 215px;
    min-height: 125px;
    height: 125px;
    max-height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.youtube-playlist-block .playlist .playlist-item .playlist-item__video-info img{
    max-width: 215px;
    width: auto;
    max-height: 125px;
    height: auto;
}
.youtube-playlist-block .playlist .playlist-item .playlist-item__video-info .youtube-button{
    position: absolute;
    top: 38%;
    left: 40%;
    width: 48px;
    height: 28px;
}
.youtube-playlist-block .playlist .playlist-item:hover .playlist-item__video-info .youtube-button .ytp-large-play-button-bg{
    fill: #f00;
    fill-opacity: 1;
}
.youtube-playlist-block .playlist .playlist-item .playlist-item__video-info .playlist-item__duration{
    position: absolute;
    right: 3px;
    bottom: 3px;
    width: auto;
    color: #fff;
    padding: 0 5px;
    background-color: #000;
}
.youtube-playlist-block .playlist .playlist-item .playlist-item__text-block{
    max-width: 125px;
    height: 125px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10px;
}
.youtube-playlist-block .playlist .playlist-item_selected .playlist-item__text-block{
    background-color: #ebf1f4;
}
.youtube-playlist-block .playlist .playlist-item .playlist-item__text-block .video-title playlist-item__title{
    color: #244470;
    font-size: 16px;
    line-height: 19px;
}

@media only screen and (max-width : 1305px){
    
    .youtube-playlist-block{justify-content: space-around;}
    .youtube-playlist-block .main-video-block{flex-direction: column;}
    .youtube-playlist-block .video-info{width: 100%;max-width: 100%;min-height: auto;height: auto;max-height: auto;padding: 15px;}
    .youtube-playlist-block .video-info .video-date{margin-bottom: 0;}
    .youtube-playlist-block .playlist{min-width: 415px;width: 415px;max-width: 415px;}
    .youtube-playlist-block .playlist .playlist-item{min-width: 415px;width: 415px;max-width: 415px;}
    .youtube-playlist-block .playlist .playlist-item .playlist-item__text-block{max-width: 200px;}
    
}
@media only screen and (max-width : 1150px){
    
    .youtube-playlist-block{flex-direction: column;align-items: center;}
    .youtube-playlist-block .main-video-block{margin-right: 0;}
    .youtube-playlist-block .playlist{width: 720px;max-width: 720px;}
    .youtube-playlist-block .playlist .playlist-item{width: 720px;max-width: 720px;}
    .youtube-playlist-block .playlist .playlist-item .playlist-item__text-block{width: 495px;max-width: 495px;}
    
}
@media only screen and (max-width : 767px){
    
    .youtube-playlist-block .main-video-block .videoWrapper .video{min-width: inherit;}
    .youtube-playlist-block .main-video-block .videoWrapper{position: relative;width: 440px;height: 260px;}
    .youtube-playlist-block .main-video-block .videoWrapper iframe{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
    .youtube-playlist-block .playlist{width: 440px;max-width: 440px;}
    .youtube-playlist-block .playlist .playlist-item{width: 440px;max-width: 440px;}
    .youtube-playlist-block .playlist .playlist-item .playlist-item__text-block{width: 225px;max-width: 225px;}
    
}
@media only screen and (max-width : 450px){
    
    .youtube-playlist-block .main-video-block{align-items: center;}
    .youtube-playlist-block .main-video-block .videoWrapper{width: 310px;height: 190px;}
    .youtube-playlist-block .playlist{min-width: 310px;width: 310px;max-width: 310px;}
    .youtube-playlist-block .playlist .playlist-item{min-width: 310px;width: 310px;max-width: 310px;min-height: 200px;height: auto;flex-direction: column;align-items: center;margin-bottom: 5px;}
    .youtube-playlist-block .playlist .playlist-item .playlist-item__text-block{min-width: 215px;width: 215px;max-width: 215px;height: auto;padding: 5px;}
    
}